* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}
header, nav, article, div, footer {
    background-color: yellow;
    border: 1px  grey solid;
    text-align: center;
    padding: 10px;
}
header{
    background-color: yellow;
    border: 1px  grey solid;
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 200px;
}
nav {
    width : 20%;
    background-color: yellow;
    border: 1px  grey solid;
    text-align: center;
    padding: 10px;
    float: left;
    height: 200px;
}
article {
    width: 60%;
    background-color: yellow;
    border: 1px  grey solid;
    text-align: center;
    padding: 10px;
    float: left;
    height: 200px;
}
div {
    width: 20%;
    background-color: yellow;
    border: 1px  grey solid;
    text-align: center;
    padding: 10px;
    float: left;
    height: 200px;
}
footer {
    clear: both;
    background-color: yellow;
    border: 1px  grey solid;
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 200px;
}